.form_demo {

}

.form_demo input {
    display: block;
    margin-bottom: 10px;
    /*border-radius: 2px;*/
}

.inputbasic {
    border: 1px solid red;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.5s ease;
}

.inputbasic:hover {
    background-color: black;
}

.inputbasic:focus {
    background-color: green;
    color: red;
}

.form_demo input[type=submit] {
    background-color: darkblue;
    border: 1px solid red;
    padding: 5px;
    color: aqua;
}
/*
Comme on le vois ça fait un effet et
on peux crée un jolie effet en jouant sut les valeur
avant et apres le surol
*/

.form_demo input[type=submit]:hover {
    background-color: deeppink;
    transition: all 0.5s ease;
    border-radius: 40px;
    padding: 5px;
    padding-left: 27px;
    padding-right:  27px;
    cursor: pointer;
}

.img1, .img2 {
    background-repeat: no-repeat;
    background-position: 5px 10px;
    background-size: 15px;
    padding-left: 27px;
}

.img1 {
    background-image: url('/images/inputim2.png');
}

.img2 {
    background-image: url('/images/inputim2.png');
}


.form_demo::-webkit-input-placeholder { /* WebKit browsers */       color: #909;
    font-style: italic;
    font-family:fantasy; 
}

.form_demo:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #909;
    opacity: 1;
    font-style: italic;
    font-family:fantasy;
}

.form_demo::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #909;
    opacity: 1;
    font-style: italic;
    font-family:fantasy;
}

.form_demo:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #909;
    font-style: italic;
    font-family:fantasy;
}


.form_demo intput[type=file]{
    
}